/* -------------------- Banner -------------------- */
.banner {
    margin-top: 88px;
    height: 480px;
    position: relative;
}

.banner::after {
    content: "";
    height: 100%;
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;

    background-image: url(../images/emcee_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

    z-index: -1;
    filter: brightness(0.8);
}

.banner .wrapper {
    /* border: 1px solid red; */
    max-width: var(--desk-width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.banner-text-area {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.banner-text-area h1 {
    color: var(--bdc-white);
    font-size: var(--H1-size);
    font-family: "La Belle Aurore";
}

.banner-text-area p {
    color: var(--bdc-white);
    font-size: var(--H6-size);
    line-height: var(--line-height160);
    text-align: center;
}

.banner-text-area h2 {
    color: var(--bdc-white);
    font-size: var(--H5-size);
    font-weight: bold;
}





/* -------------------- 超大 Wrapper -------------------- */
.wrapper-grid {
    /* outline: 1px red solid; */
    max-width: var(--desk-width);
    margin: 60px auto;
    display: flex;
    gap: 60px;
    padding: 0 24px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.left-side {
    /* outline: 1px solid blue; */
    /* grid-column: 1 / 2; */
    width: 200px;
}

.right-side {
    /* outline: 1px solid yellow; */
    /* grid-column: 2 / 5; */
}


/* ---------------- 篩選區 ---------------- */
.emcee-filter form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 60%;; */
}
.select-block {
    display: flex;
    flex-direction: column;
}

.select-block h3 {
    color: var(--bdc-pink);
    font-weight: bold;
    font-size: var(--H5-size);
    font-family: var(--chinese-font);
    margin-bottom: 12px;
}

.select-block label, .select-block select {
    color: var(--ftc-700);
    font-size: var(--H6-size);
    font-family: var(--chinese-font);
    margin-bottom: 8px;
}

.emcee-filter .bottom{
    margin-bottom: 16px;
}

.emcee-filter select {
    padding: 8px 8px;
}


/* ---------------- 主持人卡片區 ---------------- */
.emcee-cards-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%
}

.emcee-card {
    /* border: 1px solid red; */
    flex-basis: 20%;
    margin-bottom: 40px;
    position: relative;

    transform: scale(1);
    transition: 0.5s all;
}

.emcee-card img {
    width: 252px;
    border-radius: 999px 999px 0 0;
    box-shadow: 0 0 14px hsl(0, 0%, 0%, .13);

}

.emcee-card .eng-name {
    font-family: "La Belle Aurore";
    font-size: var(--H2-size);
    color: var(--bdc-green);
    position: absolute;
    bottom: 136px;
    right: 16px;
    z-index: 2;

    transform: translateY(0%) scale(1);
    transition: 0.5s all;
}

.emcee-card-text {
    background-color: hsl(60, 100%, 99%, .9);
    padding: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.emcee-card-text h4 {
    color: var(--ftc-700);
    font-weight: bold;
    font-size: var(--H5-size);
    margin-bottom: 16px;
}

.emcee-card-text > p {
    color: var(--ftc-700);
    /* font-weight: bold; */
    font-size: var(--p-size);
    line-height: var(--line-height160);
    margin-bottom: 12px;
}

.emcee-card-text .tags {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.emcee-card-text .tags p {
    padding: 4px 4px;
    background-color: var(--ftc-300);
    color: var(--bdc-white);
    font-family: var(--chinese-font);
    border-radius: 999px;
    font-size: 12px;
}

.emcee-card:hover {
    transform: scale(1.1);
}

.emcee-card:hover .eng-name {
    transform: translateY(-20%) scale(1.1);
    text-shadow: 0 0 14px hsl(0, 0%, 0%, .45);
}




