/* -------------------- Banner -------------------- */
.banner {
    margin-top: 88px;
    height: 400px;
    position: relative;
}

.banner::after {
    content: "";
    height: 100%;
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;

    background-image: url(../images/faq_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

    z-index: -1;
    filter: brightness(0.9);
}

.banner .wrapper {
    /* border: 1px solid red; */
    max-width: var(--desk-width);
    margin: 0 auto;
    height: 100%;
    padding: 52px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner .wrapper h1 {
    font-size: var(--H2-size);
    color: var(--bdc-white);
    font-weight: bold;
}

.banner .wrapper .tags{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.banner .wrapper p {
    font-family: var(--chinese-font);
    color: var(--ftc-black);
    font-size: var(--H6-size);
    padding: 16px 32px;
    background-color: var(--bdc-white);
    border-radius: 999px;
    text-align: center;
}




/* -------------------- FAQ -------------------- */
.faq {
    margin-top: 40px;
}

.faq .wrapper {
    /* border: 1px solid red; */
    max-width: var(--desk-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 0 24px;
}

.faq-block {
    background-color: var(--bdc-white);
    box-shadow: 0 0 14px hsl(0, 0%, 0%, .13);
    padding: 32px 32px 32px 32px;
    border-radius: 24px;
    width: 80%;
    margin: 0 auto;
}

.faq-block h2 {
    font-family: var(--chinese-font);
    font-size: var(--H2-size);
    color: var(--ftc-700);
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid var(--bdc-green);
    padding-bottom: 12px;
}

.faq-item {
    border-bottom: 1px solid var(--ftc-300);
    margin-top: 12px;
}

.faq-item:first-of-type {
    /* border-top: 2px solid var(--bdc-green); */
}

.question {
    font-size: var(--H4-size);
    color: var(--ftc-700);
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    cursor: pointer;
}

.question::after {
    content:"";
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 3px solid var(--bdc-green);
    border-left: 3px solid var(--bdc-green);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(135deg);
    transform-origin: center;
    transition: all .4s ease;
}

.question.open::after {
    transform: translateY(-50%) rotate(-45deg);
}

.ans {
    background-color: hsl(145, 20%, 70%);
    padding: 24px;
    border-radius: 24px;
    display: none;
    margin-bottom: 16px;
}

.ans p {
    font-size: var(--H5-size);
    color: var(--bdc-white);
    line-height: var(--line-height160);
}


