@media screen and (max-width: 821px) {
    .about-mission .pic1 {
        max-width: 240px;
    }
    .about-mission .text-area {
        gap: 20px;
    }
    .about-mission .text-area p {
        font-size: 14px;
    }
}