@media screen and (max-width: 821px) {

    /* -------------------- KV -------------------- */
    .banner {}
    
    .banner-text-bg {
        padding: 20px;
        width: 320px;
    }
    
    .banner-text-bg > p:first-child {
        font-size: 28px;
    }
    .banner-text-bg > p:last-child {
        font-size: 16px;
    }


    /* -------------------- Main -------------------- */
    main .wrapper {
        height: auto;
    }

    main > h1 {
        font-size: 28px;
        margin: 40px 0 28px 0;
    }

    .top-content {
        position: static;
        gap: 52px;
    }

    .top-content img {
        width: 50%;
        display: block;
    }
    .top-content .text {
        padding-top: 0;
        font-size: 16px;
    }

    main .wrapper > div:last-child {
        display: none;
    }

    



    /* -------------------- 婚禮企劃服務 -------------------- */
    .services {
        margin-top: 52px;
        background-attachment: scroll;
    }
    .services .filter {
        gap: 32px;
        padding: 32px 24px;
    }
    .services .filter div h1 {
        font-size: 28px;
        /* text-align: left; */
    }
    .services .filter div p {
        font-size: 16px;
        text-align: left;
    }

    /* -------------------- 婚禮我來辦 -------------------- */
    .host-and-partner {
        margin-top: 52px;
    }
    .host-and-partner .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .host-and-partner .wrapper .introduce {
        align-self: flex-start;
        width: auto;
    }
    
    .host-and-partner .wrapper .introduce h1 {
        font-size: 32px;
    }
    .host-and-partner .wrapper .introduce p {

    }
    .host-and-partner .wrapper .card-area {
        gap: 28px;
    }
    .card {
        width: 40vw;
    }
    .card > div .card-img {
        width: 100%;
    }

    /* .host-and-partner .wrapper .card-area {
        gap: 32px;
        flex-direction: column;
    }
    .card {
        width: auto;
        padding: 12px;
    }
    .card > div {
        flex-direction: row;
    }
    .card > div .card-img {
        flex-shrink: 0;
    }
    .card a {
        align-self: center;
    } */

    /* -------------------- Their Story -------------------- */
    .wedding-cases {
        margin-top: 20px;
    }

    .wedding-cases .wrapper h1 {
        font-size: 32px;
    }

    .cases-top a:nth-child(3) {
        display: none;
    }
    
    .cases-bottom a:nth-child(3) {
        display: none;
    }

    /* -------------------- 婚禮大小事 -------------------- */
    .blog-intro {
        margin-top: 32px; 
    }
    /* .blog-area a div {
        width: 100px;
        height: 100px;
    }
   .blog-area a div {
        display: none;
    } */

    /* ----------------------- 預約按鈕 ----------------------- */
    .cta-area {
        margin-top: 40px;
    }
}

@media screen and (max-width: 431px) {

    /* -------------------- Main -------------------- */
    main > h1 {
        font-size: 18px;
        margin: 40px 16px 20px;
    }
    main .wrapper > div {
        flex-direction: column-reverse;
        /* text-align: center; */
    }
    .top-content {
        gap: 20px;
    }
    .top-content .text {
        font-size: 12px;
        max-width: 70vw;
    }
    .top-content img {
        display: none;
    }

    /* -------------------- 婚禮企劃服務 -------------------- */
    .services {
        margin-top: 40px;
    }
    .services .filter {
        padding: 24px 16px;
        gap: 20px;
    }

    .services .filter div h1 {
        font-size: 24px;
        text-align: left;
    }
    .services .filter div {
        gap: 16px;
    }
    .services .filter div p {
        font-size: 12px;
        /* text-align: center; */
    }
    .services .filter a {
        padding: 12px;
        width: 120px;
        font-size: 12px;
        width: 100px;
    }

    /* -------------------- 婚禮我來辦 -------------------- */
    .host-and-partner {
        margin-top: 40px;
        gap: 32px;
    }
    .host-and-partner .wrapper {
        gap: 20px;
    }
    .host-and-partner .wrapper .introduce {
        gap: 20px;
    }
    .host-and-partner .wrapper .introduce h1 {
        font-size: 24px;
    }
    .host-and-partner .wrapper .introduce p {
        font-size: 12px;
    }
    .host-and-partner .wrapper .card-area {
        width: 100%;
    }
    .card {
        padding: 12px;
    }
    .card > div .card-text h2 {
        font-size: 16px;
    }
    .card > div .card-text p {
        font-size: 12px;
    }
    .card > div .card-img {
        border-radius: 10px;
    }
    /* -------------------- Their Story -------------------- */
    .wedding-cases .wrapper {
        gap: 28px;
    }
    .wedding-cases .wrapper h1 {
        font-size: 24px;
    }
    .cases h2 {
        font-size: 16px;
    }
    /* -------------------- 婚禮大小事 -------------------- */
    .blog-intro {
        margin-top: 0px;
    }
    .blog-intro .wrapper {
        gap: 20px;
        overflow: hidden;
    }
    .blog-text h1 {
        font-size: 24px;
    }
    .blog-text p {
        font-size: 12px;
    }
    .blog-area p {
        font-size: 14px;
    }
    .blog-area a{
        flex-shrink: 0;
    }
    .blog-area a:nth-child(odd) {
        height: 100%;
        width: 100%;
    }
    .blog-intro .wrapper > a {
        font-size: 14px;
    }
    /* -------------------- 預約按鈕 -------------------- */
    .cta-area {
        margin-top: 0px;
    }
    .cta-area .wrapper {
        gap: 8px;
    }

    .cta-area .wrapper h1 {
        padding: 16px;
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    .cta-area .wrapper div {
        padding-bottom: 0;
    }
    .cta-area .wrapper a {
        font-size: 14px;
        color: white;
        padding: 4px 16px 4px 16px;
        text-align: center;
    }
    .cta-area .wrapper a::after {
        width: 100%;
    }
    .cta-area .wrapper a::before {
        display: none;
    }
    
}