@media screen and (max-width: 431px) {
    .banner {
        height: 180px;
    }
    .banner::after {
        background-attachment: scroll;
    }
    .banner-text-area {
        gap: 12px;
        padding: 0 24px;
    }
    .banner-text-area h1 {
        font-size: 20px;
    }
    .banner-text-area p {
        font-size: 12px;
    }
    .banner-text-area h2 {
        font-size: 12px;
    }


    .wrapper-grid {
        gap: 40px;
        flex-direction: column;
        margin: 30px auto;
    }

    .left-side {
        width: 100%;
    }
    .select-block {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .emcee-filter form {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0px;
    }
    .emcee-filter form h3 {
        font-size: 16px;
        width: 100%;
    }
    .emcee-filter form label, .emcee-filter form select {
        font-size: 14px;
    }


    .emcee-cards-block {
        display: block;
    }
    .emcee-card {
        display: flex;
        gap: 12px;
        width: 100%;
    }
    .emcee-card img {
        width: 160px;
    }
    .emcee-card .eng-name {
        font-size: 32px;
        right: 0;
        left: 60px;
        bottom: 20px;
    }
    .emcee-card-text {
        position: static;
    }

    .emcee-card-text h4 {
        margin-bottom: 12px;
        font-size: 18px;
    }
    .emcee-card-text > p {
        margin-bottom: 16px;
        font-size: 12px;
    }
    .emcee-card-text .tags {
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 12px;
        column-gap: 8px;
    }

    /* 拿掉 hover */
    .emcee-card:hover {
        transform: none;
    }
    .emcee-card:hover .eng-name {
        transform: none;
        text-shadow: none;
    }
}