@media screen and (max-width: 821px) {
    .wrapper-title {
        margin: 100px auto 0px;
    }
    .wrapper-title p {
        font-size: 16px;
    }
    .wrapper-title h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .right-side {
        padding-left: 0;
        background-color: var(--bdc-white);
        padding: 16px;
    }
    .wrapper-grid {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (max-width: 431px) {
    .wrapper-title h1 {
        font-size: 24px;
    }
    .wrapper-title h2 {
        font-size: 16px;
    }
    .wrapper-share {
        margin-top: 30px;
    }
}